# dependencies
/node_modules

# production build
/build

# environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
/.idea
/.vscode

# macOS files
.DS_Store
